body {
    font-size: 10px;
    font-family: 'Helvetica Neue', sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
}

.payoutSvg{
    .linePayout {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    .shadedPayout {
        fill: red;
        stroke-width: 0px;
        opacity: 0.4;
    }
}

@forecastColor: red;
.forecastArrow{
    fill: @forecastColor;
    stroke-width: 0px;
}
.forecastSvg {
    .forecastLine {
        fill: none;
        stroke: @forecastColor;
        stroke-width: 3px;
    }
    .forecastSubText {
        fill: @forecastColor;
    }
    .forecastText {
        font-size: 20px;
        font-family: 'Helvetica Neue', sans-serif;
        fill: @forecastColor;
    }
    .forecastDot, .forecastArrow{
        fill: @forecastColor;
        stroke-width: 0px;
    }
}

.pdfSvg {
    .linePdf {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    .shadedPdf {
        fill: green;
        stroke-width: 0px;
        opacity: 0.4;
    }
}
.lineHover{
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
}

div.tooltip {   
    min-width: 100px;
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 

    border: 1px solid #bbbbbb;
    color: black;
    background-color: white;
    position: absolute;
    font-family: Arial, Helvetical, sans-serif;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    pointer-events: none;         
    .right{
        float: right;
        font-weight: bolder;
    }
}

